.pageTitle {
  display: flex;
  background-color: rgb(28, 28, 28);
  justify-content: space-between;
}

.ptLeft {
  display: flex;
  align-items: center;
  padding: 10px;
}

.ptRight {
  padding: 10px;
}
