.card {
  background-color: rgb(20, 22, 35);
  border-radius: 10px;
  padding: 15px;
}

.cardWrapper {
  position: relative;
}

.cardAvatar {
  background-image: url('../../../../styles/images/dummy-card.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border-radius: 10px;
  width: 100%;
}

.cardAvatarSkeleton {
  height: 150px;
  border-radius: 10px;
  width: 100%;
}

.cardDetails {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.cardName {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.cardBio {
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  color: rgba(255, 255, 255, 0.7);
}

.cardTags {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  align-items: center;
}

.cardTag {
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  padding: 5px;
  border-radius: 8px;
  background-color: #D73F51;
  color: #ffffff; 
}

.cardActions {
  display: flex;
  gap: 5px;
}

.cardAction {
  background: transparent;
  border: none;
  color: #ffffff;
  text-decoration: underline;
  padding: 0;
}

.cardPlace {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #D73F51;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
