.networking {
  min-height: 100vh;
  background-color: rgb(32, 33, 40);
}

.networkingWrapper {
  position: relative;
}

.pageTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 32.96px;
  color: #ffffff;
}
