.fetchingSkeleton {
  position: relative;
  background-color: #383838;
  overflow: hidden;
}

.fetchingSkeleton:before {
  content: "";
  transform: skewX(-45deg);
  background-image: linear-gradient(90deg, #383838 0px, #404040 100px, #383838 200px);
  position: absolute;
  background-repeat: repeat-x;
  left: -128px;
  width: 200px;
  height: 100%;
  -webkit-animation: shine-fetching 0.8s infinite;
  animation: shine-fetching 0.8s infinite;
}

.updatingSkeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1E1E1E;
}

.usCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.usCard {
  width: 9px;
  height: 14px;
  background-color: #D9D9D9;
  border-radius: 3px;
  -webkit-animation: shine-updating 0.8s infinite;
  animation: shine-updating 0.8s infinite;
}

.usCard:first-of-type {
  animation-delay: -0.2s;
}

.usCard:last-of-type {
  animation-delay: 0.2s;
}

@keyframes shine-fetching {
  0% {
    left: -220px;
  }
  100% {
    left: 220px;
  }
}

@keyframes shine-updating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.35;
  }
}
