.mainWrapper {
  position: relative;
  width: 100%;
  background: #1e1e1e;
  margin-top: 26px;
  border-radius: 12px 12px 0 0;
  min-height: 100vh;
}

.vomitingUnicorn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 120px;
}

.onboardingWrapper {
  padding: 0 16px;
}

.aboutWrapper {
  padding: 0 16px;
  margin-top: 20px;
}

.libraryWrapper {
  padding: 0 16px;
  margin-top: 20px;
}

.eventsWrapper {
  margin-top: 20px;
}

.networkingWrapper {
  margin-top: 20px;
}
