.networkingMail {
  min-height: 100vh;
  background-color: rgb(32, 33, 40);
}

.closeButton {
  border: none;
  background: transparent;
  background-image: url("../../styles/images/networking-me-close.svg");
  background-size: contain;
  width: 30px;
  height: 30px;
}

.pageTitle {
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
}

.nmCardWrapper {
  padding: 15px;
}

.nmCardTextWrapper {
  padding: 15px;
}

.nmCardSkeleton {
  width: 100%;
  height: 147px;;
  border-radius: 10px;
}

.nmSaveButtonWrapper {
  padding: 15px;
}
