.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 100%;
}

.firstHeader {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}

.secondHeader {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}

.heart {
  width: 91px;
  height: 91px;
  background-image: url("../../../../styles/images/heart1.png");
  background-size: cover;
  margin-top: 10px;
}

.thirdHeader {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.buttonWrapper {
  width: 100%;
  margin-top: 30px;
}
