.cardTextEdit {
}

.cteHeader {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.cteTextarea {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  background: transparent;
  border: none;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  resize: none;
}
