@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.ttf");
}

.container {
  max-width: 480px;
  margin: 0;
}

.main-wrapper {
  position: relative;
  width: 100%;
  background: #1e1e1e;
  margin-top: 26px;
  border-radius: 12px 12px 0 0;
  min-height: 100vh;
}

.header-title {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 17px;
  padding-top: 13px;
}

.rect6 {
  background: url("images/rect6.svg");
  background-size: cover;
}

.marquee {
  width: 100%;
  height: 19px;
  overflow: hidden;
  background: #ffffff;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f25353;
  padding-top: 1px;
}

.content-wrapper {
  margin-top: 24px;
  padding: 0 16px;
}

.chats-wrapper {
  margin-top: 18px;
  padding: 0 16px;
  background: url("images/chat-rectangle.svg") center/cover,
    linear-gradient(
      137.68deg,
      rgba(43, 112, 245, 0.08) -1.72%,
      rgba(215, 63, 81, 0.08) 107.32%
    );
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.section {
  margin-top: 30px;
}

.section .section-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #ffffff;
}

.section-cols {
  display: flex;
  width: 100%;
}

.section-cols .col-3 {
  display: flex;
  width: 33.3%;
}

.content-wrapper .grad-rect {
  border-radius: 30px;
}

.rect-cols {
  display: flex;
  width: 100%;
}

.rect-cols .col-3 {
  display: flex;
  width: 33.3%;
}

.content-wrapper .rect1 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.content-wrapper .rect3 {
  height: 87px;
  background: url("images/rect3.svg");
  background-size: cover;
}

.content-wrapper .rect1 .rect1-title,
.content-wrapper .rect3 .rect3-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.36px;
}

.content-wrapper .rect1 .rect1-question {
  width: 59px;
  height: 54px;
  background: url("images/rect1-question.svg");
  flex-shrink: 0;
  /* position: absolute;
  top: calc(50% - 27px);
  left: calc(100% - 59px - 23px); */
}

.content-wrapper .rect1 .rect1-heart_img,
.content-wrapper .rect3 .rect3-heart_img {
  float: right;
  margin-right: 10px;
  margin-top: -48px;
}

.content-wrapper .content-heart_img {
  position: absolute;
  top: 68px;
  right: 0;
  width: 36%;
  z-index: 1;
}

.section1 .section-cols {
  margin-top: 12px;
}

.section1 .col-3 {
  margin-right: 27px;
  flex-direction: column;
}

.section1 .col-3 .post-author {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.section1 .col-3 .post-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
  margin-top: 6px;
}

.section1 .col-3 .post-likes {
  color: #d73f51;
  margin-top: 6px;
  font-size: 8px;
}

.section1 .col-3 .post-likes-num {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.01em;
  color: #d73f51;
  display: inline-block;
  background-image: url('./images/heart.svg');
  background-repeat: no-repeat;
  padding-left: 10px;
  background-position: center left;
}

.content-wrapper .rect2 {
  height: 144px;
  margin-top: 32px;
  background: url("images/rect2.svg");
  background-size: cover;
  padding: 6px;
}

.rect5 {
  background: url("images/rect5.svg");
  height: 144px;
  margin-top: 32px;
  background-size: cover;
  padding: 6px;
}

.rect5 div {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.inputText {
  word-wrap: break-word;
  word-break: break-all;
}

.inputText:focus {
  outline: none;
}

.content-wrapper .rect4 {
  height: 144px;
  margin-top: 32px;
  background: url("images/rect4.svg");
  background-size: cover;
  padding: 6px;
}

.content-wrapper .rect2 .rect2-title,
.content-wrapper .rect4 .rect4-title {
  padding: 8px 0 0 21px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #ffffff;
}

.content-wrapper .rect2 .rect-cols,
.content-wrapper .rect4 .rect-cols {
  margin-top: 16px;
}

.content-wrapper .rect2 .item-game,
.content-wrapper .rect4 .item-game {
  width: 100%;
  height: 70px;
  margin: 0 6px;
  background: #ffffff;
  border-radius: 20px;
}

.section2 .chats-list {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.section2 .chats-list .chat-item {
  width: 100%;
  display: flex;
  margin-bottom: 7px;
  gap: 10px;
}

.section2 .chats-list .chat-icon {
  width: 23px;
  height: 23px;
  background-color: #D9D9D9;
  border-radius: 5px;
}

.section2 .chats-list .chat-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  flex-grow: 1;
}

.section2 .chats-list .chat-num-members {
  padding-top: 4px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 9px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #d73f51;
}

.chats-wrapper .chats {
  display: flex;
  flex-direction: column;
}

.chats-wrapper .chats-border {
  width: 120%;
  height: 2px;

  background: #151515;
  margin-left: -18px;
}

.chats-wrapper .show-more {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 7px;
  margin-bottom: 7px;
}

.chats .chat-item {
  display: flex;
  padding: 7px 0;
}

.chats .chat-item .chat-icon {
  flex-basis: 65.8px;
  height: 54px;
  border-radius: 10px;
}

.chats .chat-item .chat-data {
  flex-basis: 100%;
}

.chats .chat-item .chat-data .chat-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.chats .chat-item .chat-data .chat-last-user {
  padding-top: 2px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #d73f51;
}

.chats .chat-item .chat-data .chat-last-message {
  padding-top: 4px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.65);
}

.chats .chat-item .chat-data .chat-self-message {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.chats .chat-item .chat-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chats .chat-item .chat-details .chat-time {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: rgba(255, 255, 255, 0.65);
}

.chats .chat-item .chat-details .chat-num-messages {
  background: #151515;
  border-radius: 10px;
  padding: 4px 8px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
}

.chats .chat-item .created-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 7px;
}

.chats .chat-item .created-author-avatar {
  width: 15px;
  height: 15px;
  background-color: #616161;
  border-radius: 3px;
}

.chats .chat-item .created-author-name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.chats .chat-item .created-date {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.chats .chat-item .image-wrapper {
  overflow: hidden;
  border-radius: 10px;
  margin-top: 16px;
}

.chats .chat-item .image-wrapper img {
  display: block;
}

.bottom-button {
  position: fixed;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 54px;
}

.bottom-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-button .bottom-button-item {
  border: none;
  margin: 0 7px;
}

.bottom-button .bottom-btn_return {
  width: 44px;
  height: 40px;
  background: url("images/bottom-btn_return.svg");
}

.bottom-button .bottom-btn_create-post {
  width: 59px;
  height: 54px;
  background: url("images/bottom-btn_create-post.svg");
}

.bottom-button .bottom-btn_profile {
  width: 44px;
  height: 40px;
  background: url("images/bottom-btn_profile.svg");
}

.bottom-button .bottom-btn_return2 {
  width: 44px;
  height: 40px;
  background: url("images/bottom-btn_return_2.svg");
}

.bottom-button .bottom-btn_create-post2 {
  width: 59px;
  height: 54px;
  background: url("images/bottom-btn_create-post_2.svg");
}

.bottom-button .bottom-btn_profile2 {
  width: 44px;
  height: 40px;
  background: url("images/bottom-btn_profile_2.svg");
}

.bottom-button-placeholder {
  height: 70px;
}

.bottom-btn_fake {
  width: 44px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
}

/* --- */

.app-fade-enter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  transform: translate(100%, 0);
}

.app-fade-enter.app-fade-enter-active {
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 250ms ease;
}

.app-fade-exit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  transform: translate(0, 0);
}

.app-fade-exit.app-fade-exit-active {
  transform: translate(-100%, 0);
  transition: opacity 250ms ease-out, transform 250ms ease;
}