.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.overlay {
  background: #000000e0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  mix-blend-mode: hard-light;
}

.spotlight {
  background-color: gray;
  border-radius: 10px;
}
