.myCard {
  display: flex;
  gap: 20px;
  background-color: rgb(20, 22, 35);
  border-radius: 10px;
}

.mcWrapper {
  position: relative;
}

.mcLeft {
  padding: 15px 0px 15px 15px;
}

.mcRight {
  flex-grow: 1;
  padding: 15px 10px 15px 0px;
}

.mcAvatar {
  background-image: url('../../../styles/images/dummy-card.jpg');
  background-size: cover;
  width: 114px;
  height: 117px;
  border-radius: 10px;
}

.mcDetails {
  display: flex;
  flex-flow: column;
  gap: 5px;
  height: 100%;
}

.mcName {
  display: flex;
  justify-content: space-between;
}

.mcnName {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.mcnUsername {
  font-size: 14px;
  font-weight: 500;
  color: #D73F51;
}

.mcnOnlyUsername {
  font-size: 16px;
}

.mcBioWrapper {
}

.mcTagsWrapper {
}

.mcAvailability {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mcaText {
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  color: #ffffff;
}

.mcaToggleWrapper {}

.mcPlace {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #D73F51;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
