.about {
  background-image: url('../../../styles/images/moove-about-background.svg');
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 15px;
  text-decoration: none;
}

.title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.subtitle {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
