.wrapper {
  position: relative;
  text-decoration: none;
}

.library {
  background-image: url("../../../styles/images/about-moove-background.svg");
  background-size: cover;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}

.supertitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #ffffff;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
