.moove {
  position: relative;
  min-height: 100vh;
  background-color: #1c1c1c;
}

.pageTitle {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 31px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.pageTitle > img {
  margin-right: 10px;
}

.aboutWrapper {
  padding: 10px;
}

.eventsWrapper {
}

.whatToReadWrapper {
  padding: 10px;
}

.articlesWrapper {
}

.backdrop {
  background-color: rgb(26, 34, 58);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.separator {
  height: 1px;
  background-color: #151515;
}

.menu {
}

.shark {
  position: absolute;
  top: 10px;
  right: 30px;
  background-image: url("../../styles/images/shark-at-computer.png");
  background-size: cover;
  width: 109px;
  height: 109px;
}

.heart {
  position: absolute;
  top: 10px;
  right: 30px;
  background-image: url("../../styles/images/heart1.png");
  background-size: cover;
  width: 111px;
  height: 111px;
}
