.bio {
}

.editBio {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.ebActions {
  display: flex;
  flex-shrink: 0;
}

.ebAction {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0;
  width: 17px;
  height: 17px;
}

.ebAction:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ebAction:not(:last-of-type) {
  border-right: none;
}

.ebAction:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ebaSave {
  background-image: url('../../../../styles/images/networking-my-pencil.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.ebaCancel {
  background-image: url('../../../../styles/images/cross-small.svg');
  background-size: contain;
}

.bioText {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
}

.bioEditButton {
  background-image: url('../../../../styles/images/networking-my-pencil.svg');
  background-size: contain;
  background: transparent;
  border: none;
  display: inline-block;
  height: 7px;
  margin-left: 1ex;
  padding: 0;
  width: 8px;
}

.bioInput {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  padding: 3px 2px;
  resize: none;
  width: 100%;
}
