.popup {
  backdrop-filter: blur(2px);
  background-color: rgba(30, 30, 30, 0.63);
  border-radius: 10px;
  position: absolute;
  width: 100px;
  overflow: hidden;
  max-height: 150px;
  overflow-y: scroll;
}

.popupInputWrapper {
  padding: 5px;
}

.popupListWrapper {
  display: flex;
  flex-flow: column;
}

.popupInput {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  padding: 3px;
  width: 100%;
}

.popupListItem {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  margin: 0;
  padding: 5px 0;
  width: 100%;
}
